.simon-button {
  width: 20%;
  height: 80%;
  position: relative;
}

.simon-button__button {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  user-select: none;
  outline: 0;
  position: relative;
}

.simon-button__button:active {
  top: 2px;
}

.simon-button::before {
  content: ' ';
  background-color: #ccc;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  width: 96%;
  height: 10px;
}

.simon-button__button,
.simon-button::before {
  border: 1px solid #a9a9a9;
}

.simon-button .red::after,
.simon-button .blue::after,
.simon-button .yellow::after,
.simon-button .green::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  border-radius: 5px;
  transition: background-color .2s ease;
}

.simon-button .red::after {
  background-color: #B71C1C;
}
.simon-button .red:hover::after,
.simon-button .red.active::after {
  background-color: #D50000;
}

.simon-button .green::after {
  background-color: #1B5E20;
}
.simon-button .green:hover::after,
.simon-button .green.active::after {
  background-color: #00C853;
}

.simon-button .yellow::after {
  background-color: #F57F17;
}
.simon-button .yellow:hover::after,
.simon-button .yellow.active::after {
  background-color: #FFD600;
}

.simon-button .blue::after {
  background-color: #0D47A1;
}
.simon-button .blue:hover::after,
.simon-button .blue.active::after {
  background-color: #2962FF;
}
